<div id="archive">
    <% var year = 0 %>
    <% var change = false %>
    <% page.posts.sort('order', 'asc').each(function(post) { %>
        <div id="<%- post.title %>" class="chunk"><%- post.content %><div>
    <% }); %>
  <%- partial('_partial/pagination') %>
</div>