// Fonts
$font-family-body = "Barlow", sans-serif
$font-family-mono = "Barlow", sans-serif
$font-family-tt = "Barlow", sans-serif
$font-size = 16px
$line-height = 2em

// sunset camping
dpurp = #2E112D
mpurp = #540032
lpurp = #820333
dred  = #C9283E
lred  = #F0433A
yello = #FFE373


// 
dark0 = #272A2F
dark1 = #3D4148
dark2 = #474C55
light0 = #8F99AB
light1 = #e5e5e5




// Colors
$color-background = light1
$color-link = dark1 // vimeo: :selection with alpha=1

$color-text = dark1
$color-light = dred
$color-lightest = dark0 // titles
$color-accent = dark2 // titles and menu
$color-quote = dark1
$ease-in-sine = cubic-bezier(0.47, 0, 0.745, 0.715)

// Logo
logo-width = 0px + hexo-config("customize.logo.width")
logo-height = 0px + hexo-config("customize.logo.height")

// Code Highlight
highlight = hexo-config("customize.highlight") || "tomorrow-night"
