<footer id="footer">
  <div class="footer-left">
    <p>Copyright &copy; <%= new Date().getFullYear() %> <%= config.author || config.title %></p>
    <p>Code for this website is available on GitHub</p>
    <p><a href="#top">&uarr; Top</a></p>
  </div>
</footer>
